# Dependencies
node_modules
.pnpm-store

# Build outputs
.output
.nuxt
dist
.vercel

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Generated
*.generated.*
.turbo

# Generated PDFs
apps/web/public/pdfs

# Misc
*.local
.cache
